__pycache__
*.so
build
.coverage_*
*.egg-info
*~
slurm*
logs
.vscode
local/
.gitmodules
wandb/
onelogger.log
onelogger.err
.venv
runs/
/test_cases/
**/dist/

# Sphinx documentation
docs/_build
docs/apidocs
# Large checkpoint files
deepseek_mtp_dummy_ckpt/checkpoints/iter_0000001/__0_0.distcp
deepseek_mtp_dummy_ckpt/checkpoints/iter_0000001/__0_1.distcp
