einops
flask-restful
nltk
pytest
pytest-cov
pytest_mock
pytest-random-order
sentencepiece
tiktoken
wrapt
zarr
wandb
tensorstore!=0.1.46,!=0.1.72
torch
nvidia-modelopt[torch]>=0.23.2; sys_platform != "darwin"
nvtx
