# Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.

name: Auto Swap Labels
on:
  pull_request_review:
    types: [submitted]

permissions:
  pull-requests: write
  contents: read

jobs:
  check-approval:
    runs-on: ubuntu-latest
    if: github.event.review.state == 'approved' && github.repository == 'NVIDIA/Megatron-LM'
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install --no-cache-dir PyGithub

      - name: Swap labels after approval
        env:
          GH_TOKEN: ${{ github.token }}
        run: python tests/test_utils/python_scripts/update_pr_labels.py --pr ${{ github.event.pull_request.number }} swap
